{"openapi": "3.1.0", "info": {"title": "Tochka.API", "description": "\u041f\u043e\u0434\u043a\u043b\u044e\u0447\u0430\u044f API, \u0432\u044b \u0441\u043e\u0433\u043b\u0430\u0448\u0430\u0435\u0442\u0435\u0441\u044c \u043d\u0430 \u0443\u0441\u043b\u043e\u0432\u0438\u044f [\u043e\u0444\u0435\u0440\u0442\u044b](https://tochka.com/links/offer-open-api)\n\n[\u0421\u043a\u0430\u0447\u0430\u0442\u044c](https://enter.tochka.com/doc/openapi/swagger.json) OpenAPI \u0441\u043f\u0435\u0446\u0438\u0444\u0438\u043a\u0430\u0446\u0438\u044e\n", "version": "v1.90.4-stable"}, "servers": [{"url": "https://enter.tochka.com/uapi/", "description": "\u041f\u0440\u043e\u0434\u0443\u043a\u0442\u043e\u0432\u0430\u044f \u0441\u0440\u0435\u0434\u0430"}, {"url": "https://enter.tochka.com/sandbox/v2/", "description": "\u041f\u0435\u0441\u043e\u0447\u043d\u0438\u0446\u0430"}], "paths": {"/acquiring/v1.0/payments": {"get": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u043f\u043b\u0430\u0442\u0451\u0436\u043d\u044b\u043c\u0438 \u0441\u0441\u044b\u043b\u043a\u0430\u043c\u0438"], "summary": "Get Payment Operation List", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0441\u043f\u0438\u0441\u043a\u0430 \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u0439\n\n- *CREATED* - \u041e\u043f\u0435\u0440\u0430\u0446\u0438\u044f \u0441\u043e\u0437\u0434\u0430\u043d\u0430\n- *APPROVED* - \u041e\u043f\u0435\u0440\u0430\u0446\u0438\u044f \u043e\u0434\u043e\u0431\u0440\u0435\u043d\u0430 (\u043e\u043f\u043b\u0430\u0442\u0430 \u043f\u0440\u043e\u0448\u043b\u0430 \u0443\u0441\u043f\u0435\u0448\u043d\u043e)\n- *ON-REFUND* - \u041e\u043f\u0435\u0440\u0430\u0446\u0438\u044f \u0437\u0430\u0431\u043b\u043e\u043a\u0438\u0440\u043e\u0432\u0430\u043d\u0430 \u043d\u0430 \u0432\u0440\u0435\u043c\u044f \u0432\u044b\u043f\u043e\u043b\u043d\u0435\u043d\u0438\u044f \u0432\u043e\u0437\u0432\u0440\u0430\u0442\u0430\n- *REFUNDED* - \u041e\u0441\u0443\u0449\u0435\u0441\u0442\u0432\u043b\u0435\u043d \u0432\u043e\u0437\u0432\u0440\u0430\u0442\n- *EXPIRED* - \u0418\u0441\u0442\u0435\u043a \u0441\u0440\u043e\u043a \u0434\u0435\u0439\u0441\u0442\u0432\u0438\u044f", "operationId": "get_payment_operation_list_acquiring_v1_0_payments_get", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["ReadAcquiringData"]}], "parameters": [{"name": "customerCode", "in": "query", "required": true, "schema": {"type": "string", "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u043a\u043e\u0434 \u043a\u043b\u0438\u0435\u043d\u0442\u0430", "title": "Customercode"}, "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u043a\u043e\u0434 \u043a\u043b\u0438\u0435\u043d\u0442\u0430", "example": "300000092"}, {"name": "fromDate", "in": "query", "required": false, "schema": {"type": "string", "description": "\u041d\u0430\u0447\u0430\u043b\u043e \u043f\u0435\u0440\u0438\u043e\u0434\u0430 \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u0439", "title": "Fromdate"}, "description": "\u041d\u0430\u0447\u0430\u043b\u043e \u043f\u0435\u0440\u0438\u043e\u0434\u0430 \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u0439", "example": "2020-01-20"}, {"name": "toDate", "in": "query", "required": false, "schema": {"type": "string", "description": "\u041a\u043e\u043d\u0435\u0446 \u043f\u0435\u0440\u0438\u043e\u0434\u0430 \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u0439", "title": "Todate"}, "description": "\u041a\u043e\u043d\u0435\u0446 \u043f\u0435\u0440\u0438\u043e\u0434\u0430 \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u0439", "example": "2020-01-20"}, {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "description": "\u041d\u043e\u043c\u0435\u0440 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u044b", "default": 1, "title": "Page"}, "description": "\u041d\u043e\u043c\u0435\u0440 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u044b"}, {"name": "perPage", "in": "query", "required": false, "schema": {"type": "integer", "description": "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0437\u0430\u043f\u0438\u0441\u0435\u0439 \u043d\u0430 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0435", "default": 1000, "title": "Perpage"}, "description": "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0437\u0430\u043f\u0438\u0441\u0435\u0439 \u043d\u0430 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0435"}, {"name": "status", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/AcquiringPaymentStatus", "description": "\u0421\u0442\u0430\u0442\u0443\u0441 \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u0438"}, "description": "\u0421\u0442\u0430\u0442\u0443\u0441 \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u0438"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AcquiringGetPaymentOperationListResponseDataModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}, "post": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u043f\u043b\u0430\u0442\u0451\u0436\u043d\u044b\u043c\u0438 \u0441\u0441\u044b\u043b\u043a\u0430\u043c\u0438"], "summary": "Create Payment Operation", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u0441\u0441\u044b\u043b\u043a\u0438 \u043d\u0430 \u043e\u043f\u043b\u0430\u0442\u0443", "operationId": "create_payment_operation_acquiring_v1_0_payments_post", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["MakeAcquiringOperation"]}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AcquiringCreatePaymentOperationRequestDataModel"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AcquiringCreatePaymentOperationResponseDataModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}}, "/acquiring/v1.0/payments/{operationId}": {"get": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u043f\u043b\u0430\u0442\u0451\u0436\u043d\u044b\u043c\u0438 \u0441\u0441\u044b\u043b\u043a\u0430\u043c\u0438"], "summary": "Get Payment Operation Info", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0438 \u043e \u043a\u043e\u043d\u043a\u0440\u0435\u0442\u043d\u043e\u0439 \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u0438\n\n- *CREATED* - \u041e\u043f\u0435\u0440\u0430\u0446\u0438\u044f \u0441\u043e\u0437\u0434\u0430\u043d\u0430\n- *APPROVED* - \u041e\u043f\u0435\u0440\u0430\u0446\u0438\u044f \u043e\u0434\u043e\u0431\u0440\u0435\u043d\u0430 (\u043e\u043f\u043b\u0430\u0442\u0430 \u043f\u0440\u043e\u0448\u043b\u0430 \u0443\u0441\u043f\u0435\u0448\u043d\u043e)\n- *ON-REFUND* - \u041e\u043f\u0435\u0440\u0430\u0446\u0438\u044f \u0437\u0430\u0431\u043b\u043e\u043a\u0438\u0440\u043e\u0432\u0430\u043d\u0430 \u043d\u0430 \u0432\u0440\u0435\u043c\u044f \u0432\u044b\u043f\u043e\u043b\u043d\u0435\u043d\u0438\u044f \u0432\u043e\u0437\u0432\u0440\u0430\u0442\u0430\n- *REFUNDED* - \u041e\u0441\u0443\u0449\u0435\u0441\u0442\u0432\u043b\u0435\u043d \u0432\u043e\u0437\u0432\u0440\u0430\u0442\n- *EXPIRED* - \u0418\u0441\u0442\u0435\u043a \u0441\u0440\u043e\u043a \u0434\u0435\u0439\u0441\u0442\u0432\u0438\u044f", "operationId": "get_payment_operation_info_acquiring_v1_0_payments__operationId__get", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["ReadAcquiringData"]}], "parameters": [{"name": "operationId", "in": "path", "required": true, "schema": {"type": "string", "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043b\u0430\u0442\u0435\u0436\u0430", "title": "Operationid"}, "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043b\u0430\u0442\u0435\u0436\u0430", "example": "48232c9a-ce82-1593-3cb6-5c85a1ffef8f"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AcquiringGetPaymentOperationInfoResponseDataModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}}, "/acquiring/v1.0/payments/{operationId}/capture": {"post": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u043f\u043b\u0430\u0442\u0451\u0436\u043d\u044b\u043c\u0438 \u0441\u0441\u044b\u043b\u043a\u0430\u043c\u0438"], "summary": "Capture Payment", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u0441\u043f\u0438\u0441\u0430\u043d\u0438\u044f \u0441\u0440\u0435\u0434\u0441\u0442\u0432 \u043f\u0440\u0438 \u0434\u0432\u0443\u0445\u044d\u0442\u0430\u043f\u043d\u043e\u0439 \u043e\u043f\u043b\u0430\u0442\u0435", "operationId": "capture_payment_acquiring_v1_0_payments__operationId__capture_post", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["MakeAcquiringOperation"]}], "parameters": [{"name": "operationId", "in": "path", "required": true, "schema": {"type": "string", "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043e\u0434\u043f\u0438\u0441\u043a\u0438", "title": "Operationid"}, "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043e\u0434\u043f\u0438\u0441\u043a\u0438", "example": "48232c9a-ce82-1593-3cb6-5c85a1ffef8f"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AcquiringCapturePaymentResponseModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}}, "/acquiring/v1.0/payments/{operationId}/refund": {"post": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u043f\u043b\u0430\u0442\u0451\u0436\u043d\u044b\u043c\u0438 \u0441\u0441\u044b\u043b\u043a\u0430\u043c\u0438"], "summary": "Refund Payment Operation", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u0432\u043e\u0437\u0432\u0440\u0430\u0442\u0430 \u043f\u043b\u0430\u0442\u0435\u0436\u0435\u0439, \u0441\u043e\u0437\u0434\u0430\u043d\u043d\u044b\u0445 \u0447\u0435\u0440\u0435\u0437 \u043f\u043b\u0430\u0442\u0451\u0436\u043d\u0443\u044e \u0441\u0441\u044b\u043b\u043a\u0443\n\u0412\u043e\u0437\u0432\u0440\u0430\u0442 \u0432\u043e\u0437\u043c\u043e\u0436\u0435\u043d \u0442\u043e\u043b\u044c\u043a\u043e \u0434\u043b\u044f \u043f\u043b\u0430\u0442\u0435\u0436\u0430 \u0441\u043e \u0441\u0442\u0430\u0442\u0443\u0441\u043e\u043c APPROVED", "operationId": "refund_payment_operation_acquiring_v1_0_payments__operationId__refund_post", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["MakeAcquiringOperation"]}], "parameters": [{"name": "operationId", "in": "path", "required": true, "schema": {"type": "string", "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043b\u0430\u0442\u0435\u0436\u0430", "title": "Operationid"}, "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043b\u0430\u0442\u0435\u0436\u0430", "example": "48232c9a-ce82-1593-3cb6-5c85a1ffef8f"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AcquiringPaymentOrderRefundRequestDataModel"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AcquiringPaymentOperationRefundResponseModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}}, "/acquiring/v1.0/payments_with_receipt": {"post": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u043f\u043b\u0430\u0442\u0451\u0436\u043d\u044b\u043c\u0438 \u0441\u0441\u044b\u043b\u043a\u0430\u043c\u0438"], "summary": "Create Payment Operation With Receipt", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u0441\u0441\u044b\u043b\u043a\u0438 \u043d\u0430 \u043e\u043f\u043b\u0430\u0442\u0443 \u0438 \u043e\u0442\u043f\u0440\u0430\u0432\u043a\u0438 \u0447\u0435\u043a\u0430", "operationId": "create_payment_operation_with_receipt_acquiring_v1_0_payments_with_receipt_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AcquiringCreatePaymentOperationWithReceiptRequestDataModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AcquiringCreatePaymentOperationWithReceiptResponseDataModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}, "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["MakeAcquiringOperation"]}]}}, "/acquiring/v1.0/registry": {"get": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u043f\u043b\u0430\u0442\u0451\u0436\u043d\u044b\u043c\u0438 \u0441\u0441\u044b\u043b\u043a\u0430\u043c\u0438"], "summary": "Get Payment Registry", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0440\u0435\u0435\u0441\u0442\u0440\u0430 \u043f\u043b\u0430\u0442\u0435\u0436\u0435\u0439 \u043f\u043e \u0438\u043d\u0442\u0435\u0440\u043d\u0435\u0442-\u044d\u043a\u0432\u0430\u0439\u0440\u0438\u043d\u0433\u0443", "operationId": "get_payment_registry_acquiring_v1_0_registry_get", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["ReadAcquiringData"]}], "parameters": [{"name": "customerCode", "in": "query", "required": true, "schema": {"type": "string", "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u043a\u043e\u0434 \u043a\u043b\u0438\u0435\u043d\u0442\u0430", "title": "Customercode"}, "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u043a\u043e\u0434 \u043a\u043b\u0438\u0435\u043d\u0442\u0430", "example": "300000092"}, {"name": "merchantId", "in": "query", "required": true, "schema": {"type": "string", "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0442\u043e\u0440\u0433\u043e\u0432\u043e\u0439 \u0442\u043e\u0447\u043a\u0438 \u0432 \u0438\u043d\u0442\u0435\u0440\u043d\u0435\u0442-\u044d\u043a\u0432\u0430\u0439\u0440\u0438\u043d\u0433\u0435", "title": "Merchantid"}, "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0442\u043e\u0440\u0433\u043e\u0432\u043e\u0439 \u0442\u043e\u0447\u043a\u0438 \u0432 \u0438\u043d\u0442\u0435\u0440\u043d\u0435\u0442-\u044d\u043a\u0432\u0430\u0439\u0440\u0438\u043d\u0433\u0435", "example": "200000000001056"}, {"name": "paymentId", "in": "query", "required": false, "schema": {"type": "string", "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043b\u0430\u0442\u0435\u0436\u0430, \u043f\u043e \u043a\u043e\u0442\u043e\u0440\u043e\u043c\u0443 \u043f\u0440\u043e\u0438\u0437\u043e\u0448\u043b\u0430 \u0442\u0440\u0430\u043d\u0437\u0430\u043a\u0446\u0438\u044f", "title": "Paymentid"}, "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043b\u0430\u0442\u0435\u0436\u0430, \u043f\u043e \u043a\u043e\u0442\u043e\u0440\u043e\u043c\u0443 \u043f\u0440\u043e\u0438\u0437\u043e\u0448\u043b\u0430 \u0442\u0440\u0430\u043d\u0437\u0430\u043a\u0446\u0438\u044f", "example": "6d369b30-4a40-4249-aabb-7fc6b561dc7b"}, {"name": "date", "in": "query", "required": true, "schema": {"type": "string", "description": "\u0414\u0430\u0442\u0430 \u0440\u0435\u0435\u0441\u0442\u0440\u0430", "title": "Date"}, "description": "\u0414\u0430\u0442\u0430 \u0440\u0435\u0435\u0441\u0442\u0440\u0430", "example": "2020-01-20"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AcquiringPaymentRegistryResponseDataModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}}, "/acquiring/v1.0/retailers": {"get": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u043f\u043b\u0430\u0442\u0451\u0436\u043d\u044b\u043c\u0438 \u0441\u0441\u044b\u043b\u043a\u0430\u043c\u0438"], "summary": "Get Retailers", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0438 \u043e \u0440\u0435\u0442\u0435\u0439\u043b\u0435\u0440\u0435\n\n- *NEW* - \u0420\u0435\u0442\u0435\u0439\u043b\u0435\u0440 \u0441\u043e\u0437\u0434\u0430\u043d\n- *ADDRESS_DADATA* - \u0410\u0434\u0440\u0435\u0441 \u0443\u0442\u043e\u0447\u043d\u0435\u043d\n- *OPEN_ACCOUNT* - \u0421\u0447\u0451\u0442 \u043e\u0442\u043a\u0440\u044b\u0442\n- *TWPG_SENDED* - \u0414\u0430\u043d\u043d\u044b\u0435 \u043c\u0435\u0440\u0447\u0430\u043d\u0442\u0430 \u0438 \u0442\u0435\u0440\u043c\u0438\u043d\u0430\u043b\u0430 \u043e\u0442\u043f\u0440\u0430\u0432\u043b\u0435\u043d\u044b \u0432 \u043f\u0440\u043e\u0446\u0435\u0441\u0441\u0438\u043d\u0433\n- *RETAILER_CREATED* - \u041c\u0435\u0440\u0447\u0430\u043d\u0442 \u0441\u043e\u0437\u0434\u0430\u043d \u0432 \u043f\u0440\u043e\u0446\u0435\u0441\u0441\u0438\u043d\u0433\u0435\n- *TERMINAL_CREATED* - \u0422\u0435\u0440\u043c\u0438\u043d\u0430\u043b \u0441\u043e\u0437\u0434\u0430\u043d \u0432 \u043f\u0440\u043e\u0446\u0435\u0441\u0441\u0438\u043d\u0433\u0435\n- *FILE_SENT* - \u0444\u0430\u0439\u043b \u043e\u0442\u043f\u0440\u0430\u0432\u043b\u0435\u043d \u0432 \u041d\u0421\u041f\u041a\n- *REG* - \u0417\u0430\u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0438\u0440\u043e\u0432\u0430\u043d\n- *CLOSE* - \u0417\u0430\u043a\u0440\u044b\u0442", "operationId": "get_retailers_acquiring_v1_0_retailers_get", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["ReadAcquiringData"]}], "parameters": [{"name": "customerCode", "in": "query", "required": true, "schema": {"type": "string", "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u043a\u043e\u0434 \u043a\u043b\u0438\u0435\u043d\u0442\u0430", "title": "Customercode"}, "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u043a\u043e\u0434 \u043a\u043b\u0438\u0435\u043d\u0442\u0430", "example": "300000092"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AcquiringRetailerListResponseModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}}, "/acquiring/v1.0/subscriptions": {"post": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u043f\u043e\u0434\u043f\u0438\u0441\u043a\u0430\u043c\u0438"], "summary": "Create Subscription", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u043f\u043e\u0434\u043f\u0438\u0441\u043a\u0438 \u043f\u043e \u043a\u0430\u0440\u0442\u0435", "operationId": "create_subscription_acquiring_v1_0_subscriptions_post", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["MakeAcquiringOperation"]}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AcquiringCreateSubscriptionRequestDataModel"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AcquiringCreateSubscriptionResponseDataModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}, "get": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u043f\u043e\u0434\u043f\u0438\u0441\u043a\u0430\u043c\u0438"], "summary": "Get Subscription List", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0432\u0441\u0435\u0445 \u043f\u043e\u0434\u043f\u0438\u0441\u043e\u043a", "operationId": "get_subscription_list_acquiring_v1_0_subscriptions_get", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["ReadAcquiringData"]}], "parameters": [{"name": "customerCode", "in": "query", "required": true, "schema": {"type": "string", "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u043a\u043e\u0434 \u043a\u043b\u0438\u0435\u043d\u0442\u0430", "title": "Customercode"}, "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u043a\u043e\u0434 \u043a\u043b\u0438\u0435\u043d\u0442\u0430", "example": "300000092"}, {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "description": "\u041d\u043e\u043c\u0435\u0440 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u044b", "default": 1, "title": "Page"}, "description": "\u041d\u043e\u043c\u0435\u0440 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u044b"}, {"name": "perPage", "in": "query", "required": false, "schema": {"type": "integer", "description": "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0437\u0430\u043f\u0438\u0441\u0435\u0439 \u043d\u0430 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0435", "default": 1000, "title": "Perpage"}, "description": "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0437\u0430\u043f\u0438\u0441\u0435\u0439 \u043d\u0430 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0435"}, {"name": "recurring", "in": "query", "required": false, "schema": {"type": "boolean", "description": "\u041f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u043f\u043b\u0430\u0442\u0435\u0436\u0438 \u043f\u043e \u0440\u0435\u043a\u0443\u0440\u0440\u0435\u043d\u0442\u043d\u044b\u043c \u043f\u043e\u0434\u043f\u0438\u0441\u043a\u0430\u043c", "default": false, "title": "Recurring"}, "description": "\u041f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u043f\u043b\u0430\u0442\u0435\u0436\u0438 \u043f\u043e \u0440\u0435\u043a\u0443\u0440\u0440\u0435\u043d\u0442\u043d\u044b\u043c \u043f\u043e\u0434\u043f\u0438\u0441\u043a\u0430\u043c"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AcquiringSubscriptionListResponseDataModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}}, "/acquiring/v1.0/subscriptions/{operationId}/charge": {"post": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u043f\u043e\u0434\u043f\u0438\u0441\u043a\u0430\u043c\u0438"], "summary": "Charge Subscription", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u0441\u043f\u0438\u0441\u0430\u043d\u0438\u044f \u0441\u0440\u0435\u0434\u0441\u0442\u0432 \u043f\u043e \u0440\u0435\u043a\u0443\u0440\u0440\u0435\u043d\u0442\u043d\u043e\u0439 \u043f\u043e\u0434\u043f\u0438\u0441\u043a\u0435", "operationId": "charge_subscription_acquiring_v1_0_subscriptions__operationId__charge_post", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["MakeAcquiringOperation"]}], "parameters": [{"name": "operationId", "in": "path", "required": true, "schema": {"type": "string", "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043e\u0434\u043f\u0438\u0441\u043a\u0438", "title": "Operationid"}, "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043e\u0434\u043f\u0438\u0441\u043a\u0438", "example": "48232c9a-ce82-1593-3cb6-5c85a1ffef8f"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AcquiringChargeSubscriptionRequestDataModel"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AcquiringChargeSubscriptionResponseDataModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}}, "/acquiring/v1.0/subscriptions/{operationId}/status": {"post": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u043f\u043e\u0434\u043f\u0438\u0441\u043a\u0430\u043c\u0438"], "summary": "Set Subscription Status", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u0443\u0441\u0442\u0430\u043d\u043e\u0432\u043a\u0438 \u0441\u0442\u0430\u0442\u0443\u0441\u0430 \u043f\u043e\u0434\u043f\u0438\u0441\u043a\u0438", "operationId": "set_subscription_status_acquiring_v1_0_subscriptions__operationId__status_post", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["MakeAcquiringOperation"]}], "parameters": [{"name": "operationId", "in": "path", "required": true, "schema": {"type": "string", "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043e\u0434\u043f\u0438\u0441\u043a\u0438", "title": "Operationid"}, "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043e\u0434\u043f\u0438\u0441\u043a\u0438", "example": "48232c9a-ce82-1593-3cb6-5c85a1ffef8f"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AcquiringSetSubscriptionStatusRequestDataModel"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AcquiringSetSubscriptionStatusResponseDataModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}, "get": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u043f\u043e\u0434\u043f\u0438\u0441\u043a\u0430\u043c\u0438"], "summary": "Get Subscription Status", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0430\u043a\u0442\u0443\u0430\u043b\u044c\u043d\u043e\u0433\u043e \u0441\u0442\u0430\u0442\u0443\u0441\u0430 \u043f\u043e\u0434\u043f\u0438\u0441\u043a\u0438", "operationId": "get_subscription_status_acquiring_v1_0_subscriptions__operationId__status_get", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["ReadAcquiringData"]}], "parameters": [{"name": "operationId", "in": "path", "required": true, "schema": {"type": "string", "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043e\u0434\u043f\u0438\u0441\u043a\u0438", "title": "Operationid"}, "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043e\u0434\u043f\u0438\u0441\u043a\u0438", "example": "48232c9a-ce82-1593-3cb6-5c85a1ffef8f"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AcquiringGetSubscriptionStatusResponseDataModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}}, "/acquiring/v1.0/subscriptions_with_receipt": {"post": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u043f\u043e\u0434\u043f\u0438\u0441\u043a\u0430\u043c\u0438"], "summary": "Create Subscription With Receipt", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u043f\u043e\u0434\u043f\u0438\u0441\u043a\u0438 \u043f\u043e \u043a\u0430\u0440\u0442\u0435 \u0438 \u043e\u0442\u043f\u0440\u0430\u0432\u043a\u0435 \u0447\u0435\u043a\u0430", "operationId": "create_subscription_with_receipt_acquiring_v1_0_subscriptions_with_receipt_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AcquiringCreateSubscriptionWithReceiptRequestDataModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AcquiringCreateSubscriptionWithReceiptResponseDataModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}, "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["MakeAcquiringOperation"]}]}}, "/consent/v1.0/consents": {"get": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f\u043c\u0438"], "summary": "Get All Consents List", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0441\u043f\u0438\u0441\u043a\u0430 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u0439.", "operationId": "get_all_consents_list_consent_v1_0_consents_get", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": []}], "parameters": [{"name": "customer-code", "in": "header", "required": false, "schema": {"type": "string", "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u043a\u043e\u0434 \u043a\u043b\u0438\u0435\u043d\u0442\u0430", "title": "Customer-Code"}, "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u043a\u043e\u0434 \u043a\u043b\u0438\u0435\u043d\u0442\u0430", "example": "300000092"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ConsentListResponse"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}, "post": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f\u043c\u0438"], "summary": "Create New Consent", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f.", "operationId": "create_new_consent_consent_v1_0_consents_post", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": []}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ConsentCreateRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ConsentListResponse"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}}, "/consent/v1.0/consents/{consentId}": {"get": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f\u043c\u0438"], "summary": "Get Consent Info", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0438 \u043e \u0441\u043f\u0438\u0441\u043a\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u0439", "operationId": "get_consent_info_consent_v1_0_consents__consentId__get", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": []}], "parameters": [{"name": "consentId", "in": "path", "required": true, "schema": {"type": "string", "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440, \u043f\u0440\u0435\u0434\u043d\u0430\u0437\u043d\u0430\u0447\u0435\u043d\u043d\u044b\u0439 \u0434\u043b\u044f \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0446\u0438\u0438 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f", "title": "Consentid"}, "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440, \u043f\u0440\u0435\u0434\u043d\u0430\u0437\u043d\u0430\u0447\u0435\u043d\u043d\u044b\u0439 \u0434\u043b\u044f \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0446\u0438\u0438 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f"}, {"name": "customer-code", "in": "header", "required": false, "schema": {"type": "string", "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u043a\u043e\u0434 \u043a\u043b\u0438\u0435\u043d\u0442\u0430", "title": "Customer-Code"}, "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u043a\u043e\u0434 \u043a\u043b\u0438\u0435\u043d\u0442\u0430", "example": "300000092"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ConsentResponse"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}}, "/consent/v1.0/consents/{consentId}/child": {"get": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f\u043c\u0438"], "summary": "Get All Child Consents", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0432\u0441\u0435\u0445 \u0434\u043e\u0447\u0435\u0440\u043d\u0438\u0445 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u0439", "operationId": "get_all_child_consents_consent_v1_0_consents__consentId__child_get", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": []}], "parameters": [{"name": "consentId", "in": "path", "required": true, "schema": {"type": "string", "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440, \u043f\u0440\u0435\u0434\u043d\u0430\u0437\u043d\u0430\u0447\u0435\u043d\u043d\u044b\u0439 \u0434\u043b\u044f \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0446\u0438\u0438 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f", "title": "Consentid"}, "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440, \u043f\u0440\u0435\u0434\u043d\u0430\u0437\u043d\u0430\u0447\u0435\u043d\u043d\u044b\u0439 \u0434\u043b\u044f \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0446\u0438\u0438 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ConsentListResponse"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}}, "/invoice/v1.0/bills": {"post": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u0432\u044b\u0441\u0442\u0430\u0432\u043b\u0435\u043d\u0438\u0435\u043c \u0441\u0447\u0435\u0442\u043e\u0432"], "summary": "Create Invoice", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u0441\u0447\u0451\u0442\u0430 \u043d\u0430 \u043e\u043f\u043b\u0430\u0442\u0443", "operationId": "create_invoice_invoice_v1_0_bills_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/InvoiceCreateRequestDataModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DocumentCreateResponseModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}, "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["ManageInvoiceData"]}]}}, "/invoice/v1.0/bills/{customerCode}/{documentId}": {"delete": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u0432\u044b\u0441\u0442\u0430\u0432\u043b\u0435\u043d\u0438\u0435\u043c \u0441\u0447\u0435\u0442\u043e\u0432"], "summary": "Delete Invoice", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u0443\u0434\u0430\u043b\u0435\u043d\u0438\u044f \u0441\u0447\u0451\u0442\u0430 \u043d\u0430 \u043e\u043f\u043b\u0430\u0442\u0443", "operationId": "delete_invoice_invoice_v1_0_bills__customerCode___documentId__delete", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["ManageInvoiceData"]}], "parameters": [{"name": "customerCode", "in": "path", "required": true, "schema": {"type": "string", "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u043a\u043e\u0434 \u043a\u043b\u0438\u0435\u043d\u0442\u0430", "title": "Customercode"}, "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u043a\u043e\u0434 \u043a\u043b\u0438\u0435\u043d\u0442\u0430", "example": "300000092"}, {"name": "documentId", "in": "path", "required": true, "schema": {"type": "string", "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430", "title": "Documentid"}, "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430", "example": "1cf95c4f-e794-4407-bac4-0829f19bd2be"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BooleanResponseModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}}, "/invoice/v1.0/bills/{customerCode}/{documentId}/email": {"post": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u0432\u044b\u0441\u0442\u0430\u0432\u043b\u0435\u043d\u0438\u0435\u043c \u0441\u0447\u0435\u0442\u043e\u0432"], "summary": "Send Invoice To Email", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u043e\u0442\u043f\u0440\u0430\u0432\u043a\u0438 \u0441\u0447\u0451\u0442\u0430 \u043d\u0430 \u043f\u043e\u0447\u0442\u0443", "operationId": "send_invoice_to_email_invoice_v1_0_bills__customerCode___documentId__email_post", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["ManageInvoiceData"]}], "parameters": [{"name": "customerCode", "in": "path", "required": true, "schema": {"type": "string", "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u043a\u043e\u0434 \u043a\u043b\u0438\u0435\u043d\u0442\u0430", "title": "Customercode"}, "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u043a\u043e\u0434 \u043a\u043b\u0438\u0435\u043d\u0442\u0430", "example": "300000092"}, {"name": "documentId", "in": "path", "required": true, "schema": {"type": "string", "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430", "title": "Documentid"}, "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430", "example": "1cf95c4f-e794-4407-bac4-0829f19bd2be"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SendDocumentToEmailRequestDataModel"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BooleanResponseModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}}, "/invoice/v1.0/bills/{customerCode}/{documentId}/file": {"get": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u0432\u044b\u0441\u0442\u0430\u0432\u043b\u0435\u043d\u0438\u0435\u043c \u0441\u0447\u0435\u0442\u043e\u0432"], "summary": "Get Invoice", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0444\u0430\u0439\u043b\u0430 \u0432\u044b\u0441\u0442\u0430\u0432\u043b\u0435\u043d\u043d\u043e\u0433\u043e \u0441\u0447\u0451\u0442\u0430", "operationId": "get_invoice_invoice_v1_0_bills__customerCode___documentId__file_get", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["ManageInvoiceData"]}], "parameters": [{"name": "customerCode", "in": "path", "required": true, "schema": {"type": "string", "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u043a\u043e\u0434 \u043a\u043b\u0438\u0435\u043d\u0442\u0430", "title": "Customercode"}, "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u043a\u043e\u0434 \u043a\u043b\u0438\u0435\u043d\u0442\u0430", "example": "300000092"}, {"name": "documentId", "in": "path", "required": true, "schema": {"type": "string", "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430", "title": "Documentid"}, "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430", "example": "1cf95c4f-e794-4407-bac4-0829f19bd2be"}], "responses": {"200": {"description": "Successful Response", "content": {"application/pdf": {"schema": {"type": "string", "format": "binary"}, "examples": {"Invoice": {"summary": "Invoice file", "X-Content-Url": "https://developers.tochka.com/tochka-api/file-response-examples/invoice-example.pdf"}}}}, "headers": {"Content-Type": {"schema": {"type": "string"}, "description": "\u0417\u0430\u0433\u043e\u043b\u043e\u0432\u043e\u043a, \u0441\u043e\u0434\u0435\u0440\u0436\u0430\u0449\u0438\u0439 MIME-type \u0444\u0430\u0439\u043b\u0430", "example": "application/pdf"}, "Content-Disposition": {"schema": {"type": "string"}, "description": "\u0417\u0430\u0433\u043e\u043b\u043e\u0432\u043e\u043a, \u0441\u043e\u0434\u0435\u0440\u0436\u0430\u0449\u0438\u0439 \u043d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0444\u0430\u0439\u043b\u0430", "example": "attachment; filename=document.pdf"}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}}, "/invoice/v1.0/bills/{customerCode}/{documentId}/payment-status": {"get": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u0432\u044b\u0441\u0442\u0430\u0432\u043b\u0435\u043d\u0438\u0435\u043c \u0441\u0447\u0435\u0442\u043e\u0432"], "summary": "Get Invoice Payment Status", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0441\u0442\u0430\u0442\u0443\u0441\u0430 \u0441\u0447\u0451\u0442\u0430", "operationId": "get_invoice_payment_status_invoice_v1_0_bills__customerCode___documentId__payment_status_get", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["ManageInvoiceData"]}], "parameters": [{"name": "customerCode", "in": "path", "required": true, "schema": {"type": "string", "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u043a\u043e\u0434 \u043a\u043b\u0438\u0435\u043d\u0442\u0430", "title": "Customercode"}, "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u043a\u043e\u0434 \u043a\u043b\u0438\u0435\u043d\u0442\u0430", "example": "300000092"}, {"name": "documentId", "in": "path", "required": true, "schema": {"type": "string", "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430", "title": "Documentid"}, "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430", "example": "1cf95c4f-e794-4407-bac4-0829f19bd2be"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InvoicePaymentStatusResponseModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}}, "/invoice/v1.0/closing-documents": {"post": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u0437\u0430\u043a\u0440\u044b\u0432\u0430\u044e\u0449\u0438\u043c\u0438 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430\u043c\u0438"], "summary": "Create Closing Document", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u0437\u0430\u043a\u0440\u044b\u0432\u0430\u044e\u0449\u0435\u0433\u043e \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430", "operationId": "create_closing_document_invoice_v1_0_closing_documents_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ClosingDocumentCreateRequestDataModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DocumentCreateResponseModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}, "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["ManageInvoiceData"]}]}}, "/invoice/v1.0/closing-documents/{customerCode}/{documentId}": {"delete": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u0437\u0430\u043a\u0440\u044b\u0432\u0430\u044e\u0449\u0438\u043c\u0438 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430\u043c\u0438"], "summary": "Delete Closing Documents", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u0443\u0434\u0430\u043b\u0435\u043d\u0438\u044f \u0437\u0430\u043a\u0440\u044b\u0432\u0430\u044e\u0449\u0435\u0433\u043e \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430", "operationId": "delete_closing_documents_invoice_v1_0_closing_documents__customerCode___documentId__delete", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["ManageInvoiceData"]}], "parameters": [{"name": "customerCode", "in": "path", "required": true, "schema": {"type": "string", "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u043a\u043e\u0434 \u043a\u043b\u0438\u0435\u043d\u0442\u0430", "title": "Customercode"}, "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u043a\u043e\u0434 \u043a\u043b\u0438\u0435\u043d\u0442\u0430", "example": "300000092"}, {"name": "documentId", "in": "path", "required": true, "schema": {"type": "string", "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430", "title": "Documentid"}, "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430", "example": "1cf95c4f-e794-4407-bac4-0829f19bd2be"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BooleanResponseModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}}, "/invoice/v1.0/closing-documents/{customerCode}/{documentId}/email": {"post": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u0437\u0430\u043a\u0440\u044b\u0432\u0430\u044e\u0449\u0438\u043c\u0438 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430\u043c\u0438"], "summary": "Send Closing Documents To Email", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u043e\u0442\u043f\u0440\u0430\u0432\u043a\u0438 \u0437\u0430\u043a\u0440\u044b\u0432\u0430\u044e\u0449\u0435\u0433\u043e \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430 \u043d\u0430 \u043f\u043e\u0447\u0442\u0443", "operationId": "send_closing_documents_to_email_invoice_v1_0_closing_documents__customerCode___documentId__email_post", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["ManageInvoiceData"]}], "parameters": [{"name": "customerCode", "in": "path", "required": true, "schema": {"type": "string", "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u043a\u043e\u0434 \u043a\u043b\u0438\u0435\u043d\u0442\u0430", "title": "Customercode"}, "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u043a\u043e\u0434 \u043a\u043b\u0438\u0435\u043d\u0442\u0430", "example": "300000092"}, {"name": "documentId", "in": "path", "required": true, "schema": {"type": "string", "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430", "title": "Documentid"}, "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430", "example": "1cf95c4f-e794-4407-bac4-0829f19bd2be"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SendDocumentToEmailRequestDataModel"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BooleanResponseModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}}, "/invoice/v1.0/closing-documents/{customerCode}/{documentId}/file": {"get": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u0437\u0430\u043a\u0440\u044b\u0432\u0430\u044e\u0449\u0438\u043c\u0438 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430\u043c\u0438"], "summary": "Get Closing Document", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0444\u0430\u0439\u043b\u0430 \u0437\u0430\u043a\u0440\u044b\u0432\u0430\u044e\u0449\u0435\u0433\u043e \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430", "operationId": "get_closing_document_invoice_v1_0_closing_documents__customerCode___documentId__file_get", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["ManageInvoiceData"]}], "parameters": [{"name": "customerCode", "in": "path", "required": true, "schema": {"type": "string", "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u043a\u043e\u0434 \u043a\u043b\u0438\u0435\u043d\u0442\u0430", "title": "Customercode"}, "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u043a\u043e\u0434 \u043a\u043b\u0438\u0435\u043d\u0442\u0430", "example": "300000092"}, {"name": "documentId", "in": "path", "required": true, "schema": {"type": "string", "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430", "title": "Documentid"}, "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430", "example": "1cf95c4f-e794-4407-bac4-0829f19bd2be"}], "responses": {"200": {"description": "Successful Response", "content": {"application/pdf": {"schema": {"type": "string", "format": "binary"}, "examples": {"Act": {"summary": "Act file", "X-Content-Url": "https://developers.tochka.com/tochka-api/file-response-examples/act-example.pdf"}, "Invoicef": {"summary": "Invoicef file", "X-Content-Url": "https://developers.tochka.com/tochka-api/file-response-examples/invoicef-example.pdf"}, "PackingList": {"summary": "Packing List file", "X-Content-Url": "https://developers.tochka.com/tochka-api/file-response-examples/packing-list-example.pdf"}, "Upd": {"summary": "Upd file", "X-Content-Url": "https://developers.tochka.com/tochka-api/file-response-examples/upd-example.pdf"}}}}, "headers": {"Content-Type": {"schema": {"type": "string"}, "description": "\u0417\u0430\u0433\u043e\u043b\u043e\u0432\u043e\u043a, \u0441\u043e\u0434\u0435\u0440\u0436\u0430\u0449\u0438\u0439 MIME-type \u0444\u0430\u0439\u043b\u0430", "example": "application/pdf"}, "Content-Disposition": {"schema": {"type": "string"}, "description": "\u0417\u0430\u0433\u043e\u043b\u043e\u0432\u043e\u043a, \u0441\u043e\u0434\u0435\u0440\u0436\u0430\u0449\u0438\u0439 \u043d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0444\u0430\u0439\u043b\u0430", "example": "attachment; filename=document.pdf"}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}}, "/open-banking/v1.0/accounts": {"get": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441\u043e \u0441\u0447\u0435\u0442\u0430\u043c\u0438"], "summary": "Get Accounts List", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0441\u043f\u0438\u0441\u043a\u0430 \u0434\u043e\u0441\u0442\u0443\u043f\u043d\u044b\u0445 \u0441\u0447\u0435\u0442\u043e\u0432", "operationId": "get_accounts_list_open_banking_v1_0_accounts_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/application__open_banking__models__external_models__AccountListResponseModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}, "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["ReadAccountsBasic", "ReadAccountsDetail"]}]}}, "/open-banking/v1.0/accounts/{accountId}": {"get": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441\u043e \u0441\u0447\u0435\u0442\u0430\u043c\u0438"], "summary": "Get Account Info", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0438 \u043f\u043e \u043a\u043e\u043d\u043a\u0440\u0435\u0442\u043d\u043e\u043c\u0443 \u0441\u0447\u0451\u0442\u0443", "operationId": "get_account_info_open_banking_v1_0_accounts__accountId__get", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["ReadAccountsBasic", "ReadAccountsDetail"]}], "parameters": [{"name": "accountId", "in": "path", "required": true, "schema": {"type": "string", "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438 \u043d\u0435\u0438\u0437\u043c\u0435\u043d\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0441\u0447\u0451\u0442\u0430", "title": "Accountid"}, "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438 \u043d\u0435\u0438\u0437\u043c\u0435\u043d\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0441\u0447\u0451\u0442\u0430", "example": "40817810802000000008/044525104"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccountResponseModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}}, "/open-banking/v1.0/accounts/{accountId}/authorized-card-transactions": {"get": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u0431\u0430\u043b\u0430\u043d\u0441\u0430\u043c\u0438 \u0441\u0447\u0435\u0442\u043e\u0432"], "summary": "Get Authorized Card Transactions", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d\u043d\u044b\u0445 \u043a\u0430\u0440\u0442\u043e\u0447\u043d\u044b\u0445 \u0442\u0440\u0430\u043d\u0437\u0430\u043a\u0446\u0438\u0439 \u043a\u043e\u043d\u043a\u0440\u0435\u0442\u043d\u043e\u0433\u043e \u0441\u0447\u0451\u0442\u0430", "operationId": "get_authorized_card_transactions_open_banking_v1_0_accounts__accountId__authorized_card_transactions_get", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["ReadBalances"]}], "parameters": [{"name": "accountId", "in": "path", "required": true, "schema": {"type": "string", "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0441\u0447\u0435\u0442\u0430", "title": "Accountid"}, "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0441\u0447\u0435\u0442\u0430", "example": "40817810802000000008/044525104"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CardTransactionsListResponseModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}}, "/open-banking/v1.0/accounts/{accountId}/balances": {"get": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u0431\u0430\u043b\u0430\u043d\u0441\u0430\u043c\u0438 \u0441\u0447\u0435\u0442\u043e\u0432"], "summary": "Get Balance Info", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0438 \u043e \u0431\u0430\u043b\u0430\u043d\u0441\u0435 \u043a\u043e\u043d\u043a\u0440\u0435\u0442\u043d\u043e\u0433\u043e \u0441\u0447\u0451\u0442\u0430", "operationId": "get_balance_info_open_banking_v1_0_accounts__accountId__balances_get", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["ReadBalances"]}], "parameters": [{"name": "accountId", "in": "path", "required": true, "schema": {"type": "string", "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0441\u0447\u0435\u0442\u0430", "title": "Accountid"}, "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0441\u0447\u0435\u0442\u0430", "example": "40817810802000000008/044525104"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BalanceListResponseModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}}, "/open-banking/v1.0/accounts/{accountId}/statements/{statementId}": {"get": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u0432\u044b\u043f\u0438\u0441\u043a\u0430\u043c\u0438"], "summary": "Get Statement", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u043a\u043e\u043d\u043a\u0440\u0435\u0442\u043d\u043e\u0439 \u0432\u044b\u043f\u0438\u0441\u043a\u0438\n\n\u041f\u043e\u0441\u043b\u0435 \u0432\u044b\u0437\u043e\u0432\u0430 \u043c\u0435\u0442\u043e\u0434\u0430 `Init Statement` \u0441 \u043f\u043e\u043c\u043e\u0449\u044c\u044e `statementId` \u043c\u043e\u0436\u043d\u043e \u043e\u0442\u0441\u043b\u0435\u0434\u0438\u0442\u044c,\u043d\u0430 \u043a\u0430\u043a\u043e\u043c \u044d\u0442\u0430\u043f\u0435 \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u0435 \u043e\u043f\u0440\u0435\u0434\u0435\u043b\u0451\u043d\u043d\u043e\u0439 \u0432\u044b\u043f\u0438\u0441\u043a\u0438.\n\n\u0415\u0441\u0442\u044c \u0442\u0440\u0438 \u0441\u0442\u0430\u0442\u0443\u0441\u0430:\n*Created* \u2014 \u0441\u043e\u0437\u0434\u0430\u043d \u0437\u0430\u043f\u0440\u043e\u0441 \u043d\u0430 \u0432\u044b\u043f\u0438\u0441\u043a\u0443;\n*Processing* \u2014 \u0437\u0430\u043f\u0440\u043e\u0441 \u0432 \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0435;\n*Ready* \u2014 \u0432\u044b\u043f\u0438\u0441\u043a\u0430 \u0433\u043e\u0442\u043e\u0432\u0430.\n\n**\u041e\u0441\u043e\u0431\u0435\u043d\u043d\u043e\u0441\u0442\u0438:**\n\u041c\u0435\u0442\u043e\u0434 *Init Statement* \u043e\u0442\u0440\u0430\u0431\u0430\u0442\u044b\u0432\u0430\u0435\u0442 \u0430\u0441\u0438\u043d\u0445\u0440\u043e\u043d\u043d\u043e.\u041e\u0442\u0440\u0430\u0436\u0430\u044e\u0442\u0441\u044f \u0442\u043e\u043b\u044c\u043a\u043e \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u0438, \u043d\u0430\u0445\u043e\u0434\u044f\u0449\u0438\u0435\u0441\u044f \u0432 \u0444\u0438\u043d\u0430\u043b\u044c\u043d\u043e\u043c \u0441\u0442\u0430\u0442\u0443\u0441\u0435 \u2014 *Ready*.", "operationId": "get_statement_open_banking_v1_0_accounts__accountId__statements__statementId__get", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["ReadStatements"]}], "parameters": [{"name": "accountId", "in": "path", "required": true, "schema": {"type": "string", "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0441\u0447\u0435\u0442\u0430", "title": "Accountid"}, "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0441\u0447\u0435\u0442\u0430", "example": "40817810802000000008/044525104"}, {"name": "statementId", "in": "path", "required": true, "schema": {"type": "string", "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0432\u044b\u043f\u0438\u0441\u043a\u0438", "title": "Statementid"}, "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0432\u044b\u043f\u0438\u0441\u043a\u0438", "example": "123243234"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/StatementResponseDataModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}}, "/open-banking/v1.0/balances": {"get": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u0431\u0430\u043b\u0430\u043d\u0441\u0430\u043c\u0438 \u0441\u0447\u0435\u0442\u043e\u0432"], "summary": "Get Balances List", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0431\u0430\u043b\u0430\u043d\u0441\u0430 \u043f\u043e \u043d\u0435\u0441\u043a\u043e\u043b\u044c\u043a\u0438\u043c \u0441\u0447\u0435\u0442\u0430\u043c", "operationId": "get_balances_list_open_banking_v1_0_balances_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BalanceListResponseModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}, "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["ReadBalances"]}]}}, "/open-banking/v1.0/customers": {"get": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u043a\u043b\u0438\u0435\u043d\u0442\u0430\u043c\u0438"], "summary": "Get Customers List", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0441\u043f\u0438\u0441\u043a\u0430 \u0434\u043e\u0441\u0442\u0443\u043f\u043d\u044b\u0445 \u043a\u043b\u0438\u0435\u043d\u0442\u043e\u0432", "operationId": "get_customers_list_open_banking_v1_0_customers_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CustomerListResponseModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}, "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["ReadCustomerData"]}]}}, "/open-banking/v1.0/customers/{customerCode}": {"get": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u043a\u043b\u0438\u0435\u043d\u0442\u0430\u043c\u0438"], "summary": "Get Customer Info", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0438 \u043f\u043e \u043a\u043e\u043d\u043a\u0440\u0435\u0442\u043d\u043e\u043c\u0443 \u043a\u043b\u0438\u0435\u043d\u0442\u0443", "operationId": "get_customer_info_open_banking_v1_0_customers__customerCode__get", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["ReadCustomerData"]}], "parameters": [{"name": "customerCode", "in": "path", "required": true, "schema": {"type": "string", "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043a\u043b\u0438\u0435\u043d\u0442\u0430", "title": "Customercode"}, "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043a\u043b\u0438\u0435\u043d\u0442\u0430", "example": "300000092"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CustomerResponseModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}}, "/open-banking/v1.0/statements": {"post": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u0432\u044b\u043f\u0438\u0441\u043a\u0430\u043c\u0438"], "summary": "Init Statement", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u0432\u044b\u043f\u0438\u0441\u043a\u0438 \u043f\u043e \u043a\u043e\u043d\u043a\u0440\u0435\u0442\u043d\u043e\u043c\u0443 \u0441\u0447\u0451\u0442\u0443", "operationId": "init_statement_open_banking_v1_0_statements_post", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["ReadStatements"]}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/StatementInitRequestDataModel"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/StatementInitResponseDataModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}, "get": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u0432\u044b\u043f\u0438\u0441\u043a\u0430\u043c\u0438"], "summary": "Get Statements List", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0441\u043f\u0438\u0441\u043a\u0430 \u0434\u043e\u0441\u0442\u0443\u043f\u043d\u044b\u0445 \u0432\u044b\u043f\u0438\u0441\u043e\u043a\n\n\u041f\u043e\u0441\u043b\u0435 \u0432\u044b\u0437\u043e\u0432\u0430 \u043c\u0435\u0442\u043e\u0434\u0430 `Init Statement` \u043c\u043e\u0436\u043d\u043e \u043e\u0442\u0441\u043b\u0435\u0434\u0438\u0442\u044c, \u0432 \u043a\u0430\u043a\u043e\u043c \u0441\u0442\u0430\u0442\u0443\u0441\u0435 \u0433\u043e\u0442\u043e\u0432\u044f\u0449\u0430\u044f\u0441\u044f \u0432\u044b\u043f\u0438\u0441\u043a\u0430:\n*Created* \u2014 \u0442\u043e\u043b\u044c\u043a\u043e \u0441\u043e\u0437\u0434\u0430\u043d \u0437\u0430\u043f\u0440\u043e\u0441 \u043d\u0430 \u0432\u044b\u043f\u0438\u0441\u043a\u0443;\n*Processing* \u2014 \u0437\u0430\u043f\u0440\u043e\u0441 \u0432 \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0435;\n*Ready* \u2014 \u0432\u044b\u043f\u0438\u0441\u043a\u0430 \u0433\u043e\u0442\u043e\u0432\u0430.\n\n**\u041e\u0441\u043e\u0431\u0435\u043d\u043d\u043e\u0441\u0442\u0438:**\n\u041e\u0442\u0440\u0430\u0436\u0430\u044e\u0442\u0441\u044f \u0442\u043e\u043b\u044c\u043a\u043e \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u0438, \u043d\u0430\u0445\u043e\u0434\u044f\u0449\u0438\u0435\u0441\u044f \u0432 \u0444\u0438\u043d\u0430\u043b\u044c\u043d\u043e\u043c \u0441\u0442\u0430\u0442\u0443\u0441\u0435 \u2014 *Ready*.", "operationId": "get_statements_list_open_banking_v1_0_statements_get", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["ReadStatements"]}], "parameters": [{"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "description": "\u041c\u0430\u043a\u0441\u0438\u043c\u0430\u043b\u044c\u043d\u043e\u0435 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0432\u044b\u043f\u0438\u0441\u043e\u043a \u0432 \u043e\u0442\u0432\u0435\u0442\u0435", "default": 5, "title": "Limit"}, "description": "\u041c\u0430\u043a\u0441\u0438\u043c\u0430\u043b\u044c\u043d\u043e\u0435 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0432\u044b\u043f\u0438\u0441\u043e\u043a \u0432 \u043e\u0442\u0432\u0435\u0442\u0435"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/StatementResponseDataModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}}, "/payment/v1.0/for-sign": {"post": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u043f\u043b\u0430\u0442\u0435\u0436\u0430\u043c\u0438"], "summary": "Create Payment For Sign", "description": "\u041c\u0435\u0442\u043e\u0434 \u0434\u043b\u044f \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u043f\u043b\u0430\u0442\u0435\u0436\u0430.\n\n\u0427\u0442\u043e\u0431\u044b \u043f\u043b\u0430\u0442\u0451\u0436 \u043f\u0440\u043e\u0448\u0451\u043b, \u0435\u0433\u043e \u043d\u0443\u0436\u043d\u043e \u0431\u0443\u0434\u0435\u0442 \u043f\u043e\u0434\u043f\u0438\u0441\u0430\u0442\u044c \u0432 \u0438\u043d\u0442\u0435\u0440\u043d\u0435\u0442-\u0431\u0430\u043d\u043a\u0435.\n\n\u0415\u0441\u043b\u0438 \u0432\u044b \u0441\u043e\u0437\u0434\u0430\u0451\u0442\u0435 \u043f\u043b\u0430\u0442\u0451\u0436 \u0437\u0430 \u0442\u0440\u0435\u0442\u044c\u0435 \u043b\u0438\u0446\u043e, \u043f\u043e\u043b\u044f `payerINN` \u0438 `payerKPP` \u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u044b\u0435 \u0434\u043b\u044f \u0437\u0430\u043f\u043e\u043b\u043d\u0435\u043d\u0438\u044f.\n\u0415\u0441\u043b\u0438 \u043f\u043b\u0430\u0442\u0438\u0442\u0435 \u0437\u0430 \u0441\u0435\u0431\u044f \u0432 \u0431\u044e\u0434\u0436\u0435\u0442, \u043f\u043e\u043b\u0435 `payerKPP` \u0441\u0442\u0430\u043d\u043e\u0432\u0438\u0442\u0441\u044f \u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u044b\u043c.\n\n**\u041e\u0431\u0440\u0430\u0442\u0438\u0442\u0435 \u0432\u043d\u0438\u043c\u0430\u043d\u0438\u0435:**\n*paymentDate* \u043d\u0443\u0436\u043d\u043e \u0437\u0430\u043f\u043e\u043b\u043d\u0438\u0442\u044c \u043f\u043e \u0447\u0430\u0441\u043e\u0432\u043e\u043c\u0443 \u043f\u043e\u044f\u0441\u0443 \u041c\u043e\u0441\u043a\u0432\u044b.", "operationId": "create_payment_for_sign_payment_v1_0_for_sign_post", "security": [{"\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u044b\u0435 \u0440\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u0438\u044f": ["CreatePaymentForSign"]}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaymentForSignRequestDataModel"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaymentForSignResponseDataModel"}}}}, "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "Bad Request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Validation_ErrorResponse"}}}}, "424": {"description": "Fail dependent service", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"}}}}, "403": {"description": "Forbidden", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"}}}}, "404": {"description": "Not Found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPNotFoundResponse"}}}}}}, "get": {"tags": ["\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u043f\u043b\u0430\u0442\u0435\u0436\u0430\u043c\u0
[...]
